.blog-index {
}

.inline-blog-post {
  margin-bottom: 2rem;
}

.inline-blog-post-header h1 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;

  a {
    border-bottom: 0;
  }
}

.inline-blog-post-header {
}

.blog-post-meta {
  margin-top: 1rem;
}

.inline-blog-post-content {
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.inline-blog-post-content-fader {
  height: 100%;
  outline: 5px solid red;
  mask-image: linear-gradient(to bottom, black 80%, transparent);
}

.inline-blog-post-footer {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.inline-blog-post-read-more {
  margin: 1rem 0;
}

.inline-blog-post-divider {
  margin: 2rem 0;
  border: 0;
  height: 1px;
  background-color: #eee;
}

.inline-blog-post-content img {
  max-width: 20rem;
}

.inline-blog-post-content .project-card {
  display: none;
}

