---
interface Props {
  href?: string;
  type?: 'button' | 'submit' | 'reset';
  className?: string;
}

const { href, type = 'button', className = '' } = Astro.props;
---

{href ? (
  <a href={href} class={`button ${className}`}>
    <slot />
  </a>
) : (
  <button type={type} class={`button ${className}`}>
    <slot />
  </button>
)}

<style>
  .button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: white;
    color: var(--accent);
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid var(--accent);
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
  }

  .button:hover {
    background-color: var(--accent);
    color: white;
  }
</style>
