---
const { title, projectLink, previewImage, ...props } = Astro.props;
---


<project-card>
    <h4>{title}</h4>

    <a class="project-link-card no-under" href={projectLink} target="_blank">
        <img class="project-preview" src={previewImage} />
        
        <view-project-text>View project →</view-project-text>
    </a>

    <slot />


</project-card>






<style>
    project-card {
        display: block;
        margin-top: 3rem;
        margin-bottom: 4rem;
        outline: 0;
    }

    .project-link-card {
        display: block;
        max-width: 20rem;
        /* margin: auto; */
        text-align: center;

        padding: 1rem;

        background: white;
        box-shadow: 0 0 3px 0 grey;

        &:hover {
            box-shadow: 0 0 3px 0 #1fc0e3;
        }
    }

    view-project-text {
        display: block;
        margin-top: 1rem;
    }


</style>