---
import {format} from 'date-fns';

interface Props {
  pubDate: any;
  minutesReadingText?: string;
}

const { pubDate, minutesReadingText } = Astro.props;
---

<div class="blog-post-meta">
  <span>{format(pubDate, 'd MMM yyyy')}</span>
  { minutesReadingText && (
    <span>- { minutesReadingText }</span>
  )}
</div>
