---
import {format, formatISO} from 'date-fns';
import { getEntry, render } from 'astro:content';

interface Props {
  pubDate: any;
  minutesReadingText: string;
}

const { pubDate, minutesReadingText } = Astro.props;
---

<div class="blog-post-meta">
  <span>{format(pubDate, 'd MMM yyyy')}</span>
  -
  <span>{ minutesReadingText }</span>
</div>
