---
layout: default
---


<!-- JQuery -->   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Gravatar -->
<script src="/assets/lib/gravatar.js"></script>
<script>
  $(function() {
    $('.gravatar').gravatar('igor.nadj@gmail.com');
  });
</script>

<meta name="google-site-verification" content="gk34GLClF-Q7OuxiLp6KrtSmRQzcjOKbK3RZB_wrd1k" />

<div class="home">

    <section class="me">
        <div class="gravatar">
          <img class="thumbnailUrl"></img>
          <div class="displayName">&nbsp;</div>
          <div class="currentLocation">&nbsp;</div>
          <div class="email">&nbsp;</div>
        </div>
    </section>

    <section class="main typography">
      {{ content }}
    </section>
  
</div>
